* {background-color: maroon;
    color: blanchedalmond;}

h1 {
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, h4 {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

img {
  display: block; 
  margin: 0 auto; 
  width: 30%;
}

nav {
    background-color: bisque;
    overflow: hidden;
}

nav a {
    float: left;
    color: maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: maroon;
    color: bisque;
}

nav a.active {
    background-color: black;
    color: white;
}